<div class="container">
  <header>
    <app-header></app-header>
  </header>
  <div class="row justify-content-md-center">
    <div class="col-5" *ngFor="let coin of coins">
      <form [formGroup]="addToCartForm" (ngSubmit)="onSubmit(this.coin)">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters" id="inner-row">
            <div class="col-5">
              <img [src]="coin.imageURL" (click)="getModalCoin(coin)" class="bd-placeholder-img card-img-top pl-3"
                width="100%" height="120" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Image cap"
                data-toggle="modal" data-target="#exampleModalScrollable">
              <!-- Modal -->
              <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalScrollableTitle">{{modalCoins.title}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      {{modalCoins.description}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--modal-->
            </div>
            <div class="col-7">
              <div class="card-body">
                <h5 class="form-control card-title">{{coin.title}}</h5>
                <p class="form controlcard-text">{{coin.price}}$</p>
                <label for="amount">Quantity:</label>
                <input formControlName="amount" class="form-control mb-2" type="text" id="amount" name="amount">

                <!-- validation -->
                <div *ngIf="addToCartForm.controls['amount'].invalid && 
                  (addToCartForm.controls['amount'].dirty || 
                  addToCartForm.controls['amount'].touched)" class="alert alert-danger">
                  Amount should be greater than 0!
                  <div *ngIf="addToCartForm.controls['amount'].errors.required">
                    Amount is required!
                  </div>
                </div>
                <!-- validation -->

                <p class="card-text">
                  <small class="text-muted">
                    <button type="submit" class="btn-pill btn-dark">
                      Add to Cart
                    </button>
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>