<html>
<head>
  <title>The Generics | Store</title>
  <meta name="description" content="This is the description">
</head>
<body>
<header class="main-header">
  <h1 class="band-name band-name-large">Chimera</h1>
  <button (click)="router.navigate(['/cart']);">
    <h3 class="band-name">Cart</h3>
  </button>
</header>
<section class="container content-section">
  <h2 class="section-header">Cryptocurrencies</h2>
  <form>
  <div class="shop-items">
    <div class="shop-item" *ngFor="let coin of coins">
      <p
        name="title"
        class="shop-item-title">{{ coin.title }}
      </p>
      <img class="shop-item-image" [src]="coin.imageURL" >
      <label for="amount">Amount:</label>
      <input type="text"
             [(ngModel)]="coin.amount"
             id="amount"
             name="amount"
             #name="ngModel">
      <div class="shop-item-details">
        <p
          name="price"
          class="shop-item-price">{{ coin.price }}
        </p>
          <button
            type="submit"
            (click)="onSubmit(this.coin)"
            class="btn-primary">Add to Cart</button>
      </div>
    </div>
  </div>
  </form>
</section>
<footer class="main-footer">
  <div class="container main-footer-container">
  </div>
</footer>
</body>
</html>
