<form [formGroup]="userRegistrationForm" (ngSubmit) = "onSubmit()">
    <label for="email">E-mail:</label><br>
    <input type="text" id="email" 
    name="email"
    formControlName="email"><br>
    <label for="password">Password:</label><br>

    <input type="text" id="password"
    name="password"
    formControlName="password"><br>
    <label for="dob">Date Of Birth:</label><br>

    <input type="text" id="dob"
    name="dob"
    formControlName="dob"><br>
    <button type="submit">
        <h5 class="band-name">Register</h5>
    </button>
</form>
