<form [formGroup]="userLoginForm" (ngSubmit) = "onSubmit()">
    <label for="email">E-mail:</label><br>
    <input type="text" id="email" 
    name="email"
    formControlName="email"><br>

    <label for="password">Password:</label><br>
    <input type="text" id="password"
    name="password"
    formControlName="password"><br>

    <button type="submit">
        <h5 class="band-name">Login</h5>
    </button>

    <button (click)="router.navigate(['/register']);">
        <h5 class="band-name">Register</h5>
      </button>
</form>
